<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>admin</title>
    <script src="/libs/jquery.js"></script>    



</head>
<body style="background-image:background-repeat: no-repeat;">
    
      <div class="row">
        <div class="col-xs-6 col-md-4"></div>
        <div class="col-xs-6 col-md-4">
            <div class="jumbotron">
            <h1 style="text-align:center">创建文章 - blog</h1>
            <div style="text-align: center;">
                <form action="/adminnew/" method="post" >
                    <p>请你写出文章名字：<input type="name" name="name"></p>
                     <input type="submit" value="创建" class="btn btn-lg btn-primary btn-block">
                 </form>
            </div>
            <!-- <p>...</p> -->
            <!-- <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p> -->
          </div>
        
        </div>
        <div class="col-xs-6 col-md-4"></div>
      </div>
      <!-- $\sum {a_i}$ -->
</body>
</html>